header{
    background-color: f
    padding: 20px;
}

#logo{
    border-radius: 10px;
}

.titulo-principal{
    postion:absolute;
    top: 18%;
    left: 50%;
    transform: translate(-30%, -15%)
    font-size: 35px;
    font-family: 'Gagalin', sem serifa;
    /*font-family:Barlow;*/
}
main{
    width: 940px;
    margin: auto;
}

form{
    margin: 40px 0; /*margem superior e inferior de 40 px; para os lados zero*/
}

form label, form p{/*Vamos replicar a mesma configuração do form label para o parágrafo, por isso, o uso da vírgula*/

display: block;
front-size: 20px;
margin: 0 0 10px;/* 10px para baixo*/   
    
.input-padrão{
    display: block;
    margin: 0 0 20px;/* 20px para baixo*/
    padding: 10px 25px; /* 10px p/ cima e p/baixo e 25px p/ os lados*/
    width: 50%; /*largura dos meus inputs*?
    }
>checkbox{
    margin: 20px 0; /* 20px p/ cima e p/baixo e zero nas laterais*/

}
    
    input: :placeholder { color: red;
    }    
.checkbox{matgin: 20px 0;
    /* 20px p/ cima e p/baixo é zero nas laterais*/
    
    .enviar{
        width:40%;
        padding: 15px 0;
        background: orange;
        font-weight: bold;
        font-size: 10px;
        border: none;
        border-radius: 5px;
        transtion: 1% all;
        cursor: pointer;
    }
    
    .enviar:hover{
        background: darkorange;
        transform: scale(1.2);
    }
    
    .copyright {
        color: #FFFFFF;
        font-size: 13px;
        margin: 10px 0 0;
            
footer{
    text-align: center;
    background-image: url("bg.jpg")
    /*Esta propriedade é utilizada para inserir imagens
      como plano de fundo de um elemento.
      Para isso, fazemos uso da função url().
      para a qual passamos como parâmetro o
      caminho da imagem a ser inserida.*/
        
        padding: 10px 0;
        }
        
